= render '/shared/project_tabs'

%table.table
  %thead
    %tr
      %th #
      %th Title
      %th Status
      %th Created at
      %th Updated at
  %tr(ng-repeat="issue in issues")
    %td \#{{issue.id}}
    %td
      %a(href="/projects/{{project.id}}/issues/{{issue.id}}") {{issue.title}}
    %td {{issue.status}}
    %td {{issue.updated_at | date}}
    %td {{issue.created_at | date}}

