= render '/shared/project_tabs'

%h3
  {{issue.title}}

%p
  %span.label {{issue.status}}
  {{issue.created_at | date}} - {{issue.updated_at | date}}
  %a(href="/projects/{{project.id}}/issues/{{issue.id}}/edit") Edit
%p {{issue.description}}
