.page-header
  %h1
    Projects
    =link_to 'New Project', new_project_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Name
      %th Created at
      %th Updated at
  %tr(ng-repeat="project in projects")
    %td
      %a(href="/projects/{{project.id}}") {{project.name}}
    %td {{project.updated_at | date}}
    %td {{project.created_at | date}}

