.page-header
  %h1
    {{project.name}}
    %a.btn.btn-mini(ng-href="/projects/{{project.id}}/edit") Edit
    %small {{project.description}}

= render '/shared/project_tabs'
%h3 Here goes some statistic
