// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  &:hover {
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ddd;
  }
  .details {
    padding-left:3em;
  }
}
