.page-header
  %h1 Wellcome to angular on rails

%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
%p This is just a plain rails
